In [5]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.tree import  DecisionTreeClassifier 
from sklearn.tree import plot_tree
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import ConfusionMatrixDisplay

In [19]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data',header=None)

In [21]:
df.head()

     0    1    2      3      4    5    6      7    8    9    10   11   12  13
0  63.0  1.0  1.0  145.0  233.0  1.0  2.0  150.0  0.0  2.3  3.0  0.0  6.0   0
1  67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2
2  67.0  1.0  4.0  120.0  229.0  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0   1
3  37.0  1.0  3.0  130.0  250.0  0.0  0.0  187.0  0.0  3.5  3.0  0.0  3.0   0
4  41.0  0.0  2.0  130.0  204.0  0.0  2.0  172.0  0.0  1.4  1.0  0.0  3.0   0

In [23]:
df.columns = [
    'age',      # Age (years)
    'sex',      # Sex (1 = male, 0 = female)
    'cp',       # Chest pain type (value 1-4)
    'restbp',   # Resting blood pressure (mm Hg on admission)
    'chol',     # Serum cholesterol (mg/dl)
    'fbs',      # Fasting blood sugar > 120 mg/dl (1 = true, 0 = false)
    'restecg',  # Resting electrocardiographic result (0, 1, 2)
    'thalach',  # Maximum heart rate achieved
    'exang',    # Exercise induced angina (1 = yes, 0 = no)
    'oldpeak',  # ST depression induced by exercise vs. rest
    'slope',    # Slope of peak exercise ST segment (1-3)
    'ca',       # Number of major vessels colored by fluoroscopy (0-3)
    'thal',     # Thalassemia (3 = normal, 6 = fixed defect, 7 = reversible defect)
    'hd'        # Heart disease diagnosis (angiographic disease status)
]
df.head()

,age,sex,cp,restbp,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,hd
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [29]:
df.dtypes

age        float64
sex        float64
cp         float64
restbp     float64
chol       float64
fbs        float64
restecg    float64
thalach    float64
exang      float64
oldpeak    float64
slope      float64
ca          object
thal        object
hd           int64
dtype: object

In [31]:
df['ca'].unique()

array(['0.0', '3.0', '2.0', '1.0', '?'], dtype=object)

In [33]:
df['thal'].unique()

array(['6.0', '3.0', '7.0', '?'], dtype=object)